<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<title>Handwritten Digits Classifier</title>
</head>
<body>
<div class="container">
	<h1>Handwritten Digits Classifier</h1>
	<form action="/" method="post" enctype="multipart/form-data">
		<div class="form-group">
			<label for="image">Pick a handwritten digit image file to classify:</label>
			<input type="file" name="image" id="image" class="form-control-file">
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</div>
</body>
</html>
