<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<title>Handwritten Digits Classifier</title>
</head>
<body>
<div class="container">
	<h1>Classifier Results</h1>
	<img src="{{path}}" alt="" class="img-thumbnail" width="120px">
	<table class="table">
		<thead>
			<tr>
				<th>Class</th>
				<th>Confidence (hi to low)</th>
			</tr>
		</thead>
		<tbody>
			{{#each classes}}
				<tr>
					<td>{{class}}</td>
					<td>{{score}}</td>
				</tr>
			{{/each}}
		</tbody>
	</table>
	<a href="/">Back</a>
</div>
</body>
</html>
